In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import KNNImputer
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder

In [5]:
data=pd.read_csv("tours.csv")

In [7]:
data

,Booking_ID,Destination,Package_Price,Customer_Age,Rating,Review_Text,Travel_Date
0,1,London,1094.0,21.0,NaN,Amazing experience!,2023-01-01
1,2,Paris,640.0,20.0,NaN,Loved the trip!,2023-01-02
2,3,Singapore,3393.0,42.0,3.0,Could be better,2023-01-03
3,4,London,3555.0,40.0,4.0,Amazing experience!,2023-01-04
4,5,Dubai,2130.0,44.0,2.0,Highly recommended,2023-01-05
...,...,...,...,...,...,...,...
500,441,New York,1600.0,64.0,3.0,Highly recommended,2024-03-16
501,487,Dubai,2875.0,66.0,4.0,Loved the trip!,2024-05-01
502,432,London,2532.0,21.0,3.0,Amazing experience!,2024-03-07
503,383,Dubai,1375.0,34.0,4.0,Highly recommended,2024-01-18
504,153,Paris,1391.0,18.0,1.0,Amazing experience!,2023-06-02

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Booking_ID     505 non-null    int64
 1   Destination    478 non-null    object
 2   Package_Price  485 non-null    float64
 3   Customer_Age   490 non-null    float64
 4   Rating         480 non-null    float64
 5   Review_Text    485 non-null    object
 6   Travel_Date    495 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 27.7+ KB

In [11]:
data.isnull().sum()

Booking_ID        0
Destination      27
Package_Price    20
Customer_Age     15
Rating           25
Review_Text      20
Travel_Date      10
dtype: int64

In [17]:


for column in ['Package_Price', 'Customer_Age', 'Rating']:
    data[column].fillna(data[column].median(), inplace=True)  # Median Imputation

data['Destination'].fillna(data['Destination'].mode()[0], inplace=True)  # Mode Imputation
data['Review_Text'].fillna("No Review", inplace=True)
data['Travel_Date'].fillna(method='ffill', inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_8332\803128138.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[column].fillna(data[column].median(), inplace=True)  # Median Imputation
C:\Users\user\AppData\Local\Temp\ipykernel_8332\803128138.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Destination'].fillna(data['Destination'].mode()[0], inplace=True)  # Mode Imputation
C:\Users\user\AppData\Local\Temp\ipykernel_8332\803128138.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Review_Text'].fillna("No Review", inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_8332\803128138.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Travel_Date'].fillna(method='ffill', inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_8332\803128138.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['Travel_Date'].fillna(method='ffill', inplace=True)

In [19]:
data.isnull().sum()

Booking_ID       0
Destination      0
Package_Price    0
Customer_Age     0
Rating           0
Review_Text      0
Travel_Date      0
dtype: int64

In [ ]:
imputer = KNNImputer(n_neighbors=5)
data[['Package_Price', 'Customer_Age', 'Rating']] = imputer.fit_transform(da[['Package_Price', 'Customer_Age', 'Rating']])