In [1]:
import pandas as pd
import numpy as np

In [11]:
data=pd.read_csv("Day_7_sales_data.csv")
data

          Date     Product Region    Sales  Profit  Quantity
0   2023-01-02      Tablet   East  1061.81  236.12         7
1   2023-01-06      Laptop  North  1926.07  246.34         8
2   2023-01-03      Tablet   East  1597.99  253.17         3
3   2023-01-20      Tablet  North  1397.99  242.23         1
4   2023-01-04      Laptop   West   734.03  140.36         4
5   2023-01-17      Tablet  North   733.99  188.66         2
6   2023-01-14    Keyboard   East   587.13   82.16         8
7   2023-01-07  Smartphone   East  1799.26  364.97         4
8   2023-01-11  Smartphone   West  1401.67  306.24         2
9   2023-01-01      Laptop  North  1562.11  170.72         6
10  2023-01-19     Monitor  North   530.88  117.59         6
11  2023-01-12      Laptop   West  1954.86  262.16         4
12  2023-01-09     Monitor  North  1748.66  197.62         6
13  2023-01-10  Smartphone  North   818.51  237.19         2
14  2023-01-08      Laptop   East   772.74  226.51         2
15  2023-01-05    Keyboard  North   775.11  202.83         4
16  2023-01-15      Tablet  North   956.36  153.90         8
17  2023-01-18     Monitor   West  1287.13  153.86         7
18  2023-01-13      Tablet   West  1147.92  271.88         9
19  2023-01-16      Tablet  South   936.84  176.15         8

In [13]:
data.head()

         Date Product Region    Sales  Profit  Quantity
0  2023-01-02  Tablet   East  1061.81  236.12         7
1  2023-01-06  Laptop  North  1926.07  246.34         8
2  2023-01-03  Tablet   East  1597.99  253.17         3
3  2023-01-20  Tablet  North  1397.99  242.23         1
4  2023-01-04  Laptop   West   734.03  140.36         4

In [25]:
mean_value = data['Sales'].mean()
mean_value

1186.553

In [27]:
mean_value = data['Profit'].mean()
mean_value

211.53300000000004

In [29]:
mean_value = data['Quantity'].mean()
mean_value

5.05

In [31]:
median_value = data['Sales'].mean()
median_value

1186.553

In [33]:
median_value = data['Quantity'].mean()
median_value

5.05

In [37]:
median_value = data['Profit'].mean()
median_value

211.53300000000004

In [39]:
data.describe()

             Sales      Profit   Quantity
count    20.000000   20.000000  20.000000
mean   1186.553000  211.533000   5.050000
std     461.528444   66.916251   2.543826
min     530.880000   82.160000   1.000000
25%     774.517500  166.515000   2.750000
50%    1104.865000  214.670000   5.000000
75%    1571.080000  248.047500   7.250000
max    1954.860000  364.970000   9.000000