#### Assumption: 
1. Linearity: the relationship between the perictors and the response is linear.
2. Independence: observation are independent of each other.
3. Homoscedasticity: The residuals (y -Y_hat) exhibit constant varience at all level of the predictor.
4. Normal Distribution of error: the residuals of the model are normally distributed.
5. No multicollinearity: the independent variable should not be too highly correlated with each other.

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
from statsmodels.graphics.regressionplots import influence_plot
import numpy as np

In [9]:
cars=pd.read_csv("Cars.csv")
cars.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

#### Description of columns:
- MPG : milege of the car(Miles per Gallon) (this column to be predicted)
- HP : horse power of the car(x1)
- VOL: volume of the car (x2)
- SP: top speed of the car(miles per hour) (x3)
- Wt : weight of the car(x4)

In [11]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HP      81 non-null     int64
 1   MPG     81 non-null     float64
 2   VOL     81 non-null     int64
 3   SP      81 non-null     float64
 4   WT      81 non-null     float64
dtypes: float64(3), int64(2)
memory usage: 3.3 KB

In [13]:
cars.isnull().sum()

HP     0
MPG    0
VOL    0
SP     0
WT     0
dtype: int64