In [1]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [7]:
scores={"Virat":90,
        "Rohit":100,
        "Rahul":70,
        "Hardik":9,
        "Gill":20,
        "Jadeja":30,
        "Siraz":15}
scores["Aswin"]=15
print(scores)

{'Virat': 90, 'Rohit': 100, 'Rahul': 70, 'Hardik': 9, 'Gill': 20, 'Jadeja': 30, 'Siraz': 15, 'Aswin': 15}

In [4]:
scores={"Virat":90,
        "Rohit":100,
        "Rahul":70,
        "Hardik":9,
        "Gill":20,
        "Jadeja":30,
        "Siraz":15}
scores.update({"Jadeja":50})
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 9,
 'Gill': 20,
 'Jadeja': 50,
 'Siraz': 15}

In [6]:
scores.update({"Hardik":65,"Rahane":45})
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 65,
 'Gill': 20,
 'Jadeja': 50,
 'Siraz': 15,
 'Rahane': 45}

In [10]:
scores.setdefault("Rahul",60)
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 65,
 'Gill': 20,
 'Jadeja': 50,
 'Siraz': 15,
 'Rahane': 45}

In [12]:
scores.setdefault("Pujara",50)
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 65,
 'Gill': 20,
 'Jadeja': 50,
 'Siraz': 15,
 'Rahane': 45,
 'Pujara': 50}

In [14]:
scores.popitem()
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 65,
 'Gill': 20,
 'Jadeja': 50,
 'Siraz': 15,
 'Rahane': 45}

In [22]:
scores.pop("Jadeja",50)
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 65,
 'Gill': 20,
 'Siraz': 15,
 'Rahane': 45}

In [24]:
scores.get("Siraz")

15

In [28]:
list1=["A","B","C","D"]
my_dict=dict.fromkeys(list1)
my_dict

{'A': None, 'B': None, 'C': None, 'D': None}

In [36]:
list1=["A","B","C","D"]
my_dict=dict.fromkeys(list1)
my_dict.update({"A":20})
my_dict

{'A': 20, 'B': None, 'C': None, 'D': None}

In [38]:
for k in scores.keys():
    if k =='Hardik':
        scores[k]=19
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 19,
 'Gill': 20,
 'Siraz': 15,
 'Rahane': 45}

In [42]:
scores_list=[]
for v in scores.values():
    scores_list.append(v)
print(scores_list)
print("Total Score: ",sum(scores_list))

[90, 100, 70, 19, 20, 15, 45]
Total Score:  359